.proyects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  gap: 15px;
  width: 100%;
}

.proyects .proyect .proyect_img {
  height: 125px;
  width: 100%;
  position: relative;
}

.proyects .proyect a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  z-index: 999999999;
  background-color: rgba(0,0,0, .85);
  border: 1px solid var(--bs-green);
  color: var(--bs-green);
  transition: background-color, color, ease-in-out .8s;
}

.proyects .proyect a:hover {
  color: var(--bs-gray-400);
  border: 1px solid var(--bs-gray-400);
  background-color: var(--bs-green);
}

.proyects .proyect h6 {
  border-bottom: 1px solid var(--bs-gray-700);
}

.proyects .proyect i {
  margin-right: 6px;
}

.proyects .proyect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

@media (max-width: 1320px) {
  .proyects .proyect .proyect_img {
    height: 150px;
  }
}

/* @media (max-width: 1024px) {
  .proyects {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
} */

@media (max-width: 767px) {
  .proyects {
    row-gap: 35px;
  }
}

@media (max-width: 562px) {
  .proyects .proyect .proyect_img {
    height: 180px;
  }
}