.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  align-items: center;
  width: 90%;
  margin: auto;
  column-gap: 20px;
  row-gap: 10px;
  min-height: 100px;
}

.technologies:nth-of-type(3) {
  column-gap: 30px;
}

.technologies:nth-of-type(4) {
  margin-top: 20px;
}

.technologies img {
  width: 100%;
  height: auto;
}

@media (min-width: 402px) and (max-width: 559px) {
  .technologies {
    grid-template-columns: repeat(3, 100px);
  }
}

@media (max-width: 767px) {
  .technologies {
    justify-content: center;
  }
}